# Dependencies
**/node_modules/
**/venv/

# Secrets
**/.env
**/.env.local
*.pem
*.key

# Build outputs
**/dist/
**/build/
**/.next/
**/out/

# Logs and system
*.log
.DS_Store
Thumbs.db
**/.vscode/
**/.idea/
